<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
 
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
 
  <title>My App</title>
</head>
 
<body>
 
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">My App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
    </div>
  </nav>
 
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>
        This is a template for a simple marketing or informational website. It includes a large callout
        called a jumbotron and three supporting pieces of content. Use it as a starting point to create
        something more unique.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Section 1</h2>
        <p>Some information for section 1</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Section 2</h2>
        <p>Some information for section 2 </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Section 3</h2>
        <p>Some information for section 1</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
 
    <hr>
 
    <footer>
      <p>&copy; My App 2015</p>
    </footer>
  </div> <!-- /container -->
 
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>





{{!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/public/assets/img/customer recognition.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav> --}}

{{!-- 
<div class="container">
    <nav class="">
        <h1 class="font-weight-bold color: black">Client Recognition App</h1>
        <h3 class="font-weight-normal color: black"> CRA </h3>
    </nav> --}}

<div class="table">
    <div class = "font-weight-bold color:black ">Welcome to our business~!</div>
</div>


    {{!-- STEP ONE QUESTION --}}
    <div class="step_one">
        Is this a new customer or returning customer? <br>
        <button id="new-customer">New Customer</button> <br>
        <button id="returning-customer">Returning Customer</button>
    </div>


    {{!-- NEW CUSTOMER --}}
    <div class="new_customer">
        <h1>Add Information</h1>
        <button class="back">[Go back]</button>
        <hr>

        <form class="add-customer">
            <label for="name">Name</label>
            <input type="text" id="newCustomer"> <br>
            <label for="email">Email</label>
            <input type="text" id="newEmail">
            <select id="food">
                {{#each order}}
                <option value="{{id}}">{{order_name}}</option>
                {{/each}}
            </select>
            <button type="submit">Add customer</button>
        </form>
    </div>

    {{!-- RETURNING CUSTOMER --}}
    <div class="returning_customer">
        <h1>Customer Information</h1>
        <form class="search-customer">
            <label for="">Search:</label>
            <input type="text" class="customer_email"> <br>
            <input type="submit">
        </form>
        <button class="back">[Go back]</button>
        <hr>
    </div>
</div>



<script>
    // These divs won't show until you click on any table
    $(".step_one").hide();
    $(".new_customer").hide();
    $(".returning_customer").hide();

    // When you click on a table the first part asking if it is a new customer or returning customer 
    $(".table").click(function () {
        $(".step_one").show();
    });

    // If user accidentally presses the wrong button, this allows them to start over
    $(".back").click(function () {
        $(".new_customer").hide();
        $(".returning_customer").hide();
        $(".step_one").show();
    })

    $("#new-customer").click(function () {
        $(".new_customer").show();
    });

    $('#returning-customer').click(function () {
        $(".returning_customer").show();
    })

    // Took out the ajax call because we didn't need it,
    // This just reloads the window into the correct page with the ID

    $(".search-customer").on("submit", function (event) {

        // This is if we want to get the "ID" instead of their customer name
        // var customer_id = $(this).data("id");
        // window.location.href = "/customer/" + customer_id;
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
    $(".add-customer").on("submit", function (event) {
        event.preventDefault();
        var newCustomer = {
            customer_name: $("#newCustomer").val().trim(),
            customer_email: $("#newEmail").val().trim(),
            order_id: $("#food").val().trim()
        };
        $.ajax("/api/customer", {
            type: "POST",
            data: newCustomer
        }).then(function () {
            var table = $("<table>")
                var name = $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var email= $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var orders=$("<tr><th> Orders</th></tr>")
                var order_id= $(`<tr><td>${$("#newCustomer").val().trim()}</th></tr>`)
                table.append(name)
                table.append(email)
                table.append(orders)
                table.append(order_id)
                $(".container").prepend(table)
            //location.reload();
        })
    })



</script>