<h1>{{customer}}</h1>

<h2>You are a good customer!</h2>
<ul>
  {{#each customer}}
  <form action="/customer/{{id}}">
    {{name}} <input type="submit" value="View Customer"> <br>
  </form>
  {{/each}}

</ul>

<h2>You are an AMAZING CUSTOMER!</h2>
