<div class="container">
    <nav class="">
        <h1 class="font-weight-bold color: black">Client Recognition App</h1>
        <h3 class="font-weight-normal color: black"> CRA </h3>
    </nav>

<div class="table">
    <div class = "font-weight-bold color:black ">Welcome to our business~!</div>
</div>


    {{!-- STEP ONE QUESTION --}}
    <div class="step_one">
        Is this a new customer or returning customer? <br>
        <button id="new-customer">New Customer</button> <br>
        <button id="returning-customer">Returning Customer</button>
    </div>


    {{!-- NEW CUSTOMER --}}
    <div class="new_customer">
        <h1>Add Information</h1>
        <button class="back">[Go back]</button>
        <hr>

        <form class="add-customer">
            <label for="name">Name</label>
            <input type="text" id="newCustomer"> <br>
            <label for="email">Email</label>
            <input type="text" id="newEmail">
            <select id="food">
                {{#each order}}
                <option value="{{id}}">{{order_name}}</option>
                {{/each}}
            </select>
            <button type="submit">Add customer</button>
        </form>
    </div>

    {{!-- RETURNING CUSTOMER --}}
    <div class="returning_customer">
        <h1>Customer Information</h1>
        <form class="search-customer">
            <label for="">Search:</label>
            <input type="text" class="customer_email"> <br>
            <input type="submit">
        </form>
        <button class="back">[Go back]</button>
        <hr>
    </div>
</div>



<script>
    // These divs won't show until you click on any table
    $(".step_one").hide();
    $(".new_customer").hide();
    $(".returning_customer").hide();

    // When you click on a table the first part asking if it is a new customer or returning customer 
    $(".table").click(function () {
        $(".step_one").show();
    });

    // If user accidentally presses the wrong button, this allows them to start over
    $(".back").click(function () {
        $(".new_customer").hide();
        $(".returning_customer").hide();
        $(".step_one").show();
    })

    $("#new-customer").click(function () {
        $(".new_customer").show();
    });

    $('#returning-customer').click(function () {
        $(".returning_customer").show();
    })

    // Took out the ajax call because we didn't need it,
    // This just reloads the window into the correct page with the ID

    $(".search-customer").on("submit", function (event) {

        // This is if we want to get the "ID" instead of their customer name
        // var customer_id = $(this).data("id");
        // window.location.href = "/customer/" + customer_id;
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
    $(".add-customer").on("submit", function (event) {
        event.preventDefault();
        var newCustomer = {
            customer_name: $("#newCustomer").val().trim(),
            customer_email: $("#newEmail").val().trim(),
            order_id: $("#food").val().trim()
        };
        $.ajax("/api/customer", {
            type: "POST",
            data: newCustomer
        }).then(function () {
            var table = $("<table>")
                var name = $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var email= $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var orders=$("<tr><th> Orders</th></tr>")
                var order_id= $(`<tr><td>${$("#newCustomer").val().trim()}</th></tr>`)
                table.append(name)
                table.append(email)
                table.append(orders)
                table.append(order_id)
                $(".container").prepend(table)
            //location.reload();
        })
    })



</script>