<div class="container">
    <nav>
        <h1 class="font-weight-bold">Client Recognition App</h1>
        <h3 class="font-weight-normal"> CRA </h3>
    </nav>


    <div class="whole-store">
        <div class="font-weight-bold host host-table">Host<br>Stand</div>
        <div class="font-weight-bold front front-door">Front Door</div>
    </div>

    <div class="tables">
        <div class="table-5" style="background-color:rgb(151, 127, 127)"></div>

    <div class="column">
        <div class="col-5" style="background-color: rgb(151,127,127);"></div>
    </div>
<div class= "container">
    <div class="row">
        <div class="col-sm-1 table font-weight-bold" style="background-color:rgb(180, 154, 39); color:white"><br>T1</div>
        <div class="col-sm-1" style="background-color:rgb(151, 127, 127);"></div>
        <div class="col-sm-1 table" style="background-color:green; color: white"><br>T2</div>
        <div class="col-sm-1" style="background-color:rgb(151, 127, 127);"><br></div>
        <div class="col-sm-1 table" style="background-color:blue; color:white"><br>T3</div>
        <div class="col-sm-1" style="background-color:rgb(151, 127, 127);"><br></div>
            <div class="col-sm-1 table" style="background-color:rgb(255, 0, 191); color:white"><br>T4</div>
            <div class="col-sm-1" style="background-color:rgb(151, 127, 127);"><br></div>
            <div class="col-sm-1 table" style="background-color:rgb(109, 95, 48); color:white"><br>T5</div>
            <div class="col-sm-1" style="background-color:rgb(151, 127, 127);"><br></div>
            <div class="col-sm-1 table" style="background-color:rgb(0, 238, 255); color:white"><br>T6</div>
    </div>
</div>


    </div>

        {{!-- <div class="square table table-2"><br>T2</div>
        <div class="square table table-3"><br>T3</div>

        <div class="square table table-4"><br>T4</div>
        <div class="square table table-5"><br>T5</div>
        <div class="square table table-6"><br>T6</div>

        <div class="square table table-7"><br>T7</div>
        <div class="square table table-8"><br>T8</div>
        <div class="square table table-9"><br>T9</div>
    </div>

 --}}

    {{!-- STEP ONE QUESTION --}}
    <div class="step_one">
        Is this a new customer or returning customer? <br>
        <button id="new-customer">New Customer</button> <br>
        <button id="returning-customer">Returning Customer</button>
    </div>


    {{!-- NEW CUSTOMER --}}
    <div class="new_customer">
        <h1>Add Information</h1>
        <button class="back">[Go back]</button>
        <hr>

        <form class="add-customer">
            <label for="name">Name</label>
            <input type="text" id="newCustomer"> <br>
            <label for="email">Email</label>
            <input type="text" id="newEmail">
            <select id="food">
                {{#each order}}
                <option value="{{id}}">{{order_name}}</option>
                {{/each}}
            </select>
            <button type="submit">Add customer</button>
        </form>
    </div>

    {{!-- RETURNING CUSTOMER --}}
    <div class="returning_customer">
        <h1>Customer Information</h1>
        <form class="search-customer">
            <label for="">Search:</label>
            <input type="text" class="customer_email"> <br>
            <input type="submit">
        </form>
        <button class="back">[Go back]</button>
        <hr>
    </div>
</div>



<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
    integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
    crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
    integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
    crossorigin="anonymous"></script>




<script>

    // These divs won't show until you click on any table
    $(".step_one").hide();
    $(".new_customer").hide();
    $(".returning_customer").hide();

    // When you click on a table the first part asking if it is a new customer or returning customer 
    $(".table").click(function () {
        $(".step_one").show();
    });

    // If user accidentally presses the wrong button, this allows them to start over
    $(".back").click(function () {
        $(".new_customer").hide();
        $(".returning_customer").hide();
        $(".step_one").show();
    })

    $("#new-customer").click(function () {
        $(".new_customer").show();
    });

    $('#returning-customer').click(function () {
        $(".returning_customer").show();
    })

    // Took out the ajax call because we didn't need it,
    // This just reloads the window into the correct page with the ID

    $(".search-customer").on("submit", function (event) {

        // This is if we want to get the "ID" instead of their customer name
        // var customer_id = $(this).data("id");
        // window.location.href = "/customer/" + customer_id;
        var customerEmail = $(".customer_email").val();
        window.location.href = "/customer/" + customerEmail;
        return false;
    });
    $(".add-customer").on("submit", function (event) {
        event.preventDefault();
        var newCustomer = {
            customer_name: $("#newCustomer").val().trim(),
            customer_email: $("#newEmail").val().trim(),
            order_id: $("#food").val().trim()
        };
        $.ajax("/api/customer", {
            type: "POST",
            data: newCustomer
        }).then(function () {
            var table = $("<table>")
                var name = $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var email= $(`<tr><th>${$("#newCustomer").val().trim()}</th></tr>`)
                var orders=$("<tr><th> Orders</th></tr>")
                var order_id= $(`<tr><td>${$("#newCustomer").val().trim()}</th></tr>`)
                table.append(name)
                table.append(email)
                table.append(orders)
                table.append(order_id)
                $(".container").prepend(table)
            //location.reload();
        })
    })



</script>