.set {
    position: relative;
    height: 1000px;
    background: darkgray;
    margin: 0 auto;
}

.table {
    position: relative;
    width: 50px;
    height: 50px;
    background: black;
}

/*  */

.host {
top: 0px;
}