html {
    background-color: #7A3544;
}

nav {
    background-color: #671B2B;
    color: white;
    padding-left: 50px;
}


.whole-store {
    position: relative; 
    top: 0px;
    left: 0px;
}

.front {
    position: absolute;
    width: 20px;
    height: 250px;
    border-radius: 5%;
}

.host {
    position: absolute;
    width: 50px;
    height: 150px;
    background: black;
    border-radius: 5%;
}

.tables {
    position: relative; 
    top: 70px;
    left: 270px;
}


.square {
    position: absolute;
    width: 75px;
    height: 75px;
    background: #9B5766;
    border-radius: 5%;
}

.info {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 700px;
    background: #9B5766;
}

/*  */


.host-table, .front-door, .table-1, .table-2, 
.table-3, .table-4, .table-5, .table-6, .table-7, 
.table-8, .table-9 {
    color: #BA848F;
    text-align: center;
}

.host-table, .front-door{
    background: #671B2B;
}


.front-door {
    top: 100px;
    left: 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.host-table {
    top: 150px;
    left: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.table-1 {
    top: 0px;
    left: 0px;
}


.table-2 {
    top: 120px;
    left: 0px;
}

.table-3 {
    top: 240px;
    left: 0px;

}

.table-4 {
    top: 0px;
    left: 120px;
}

.table-5 {
    top: 120px;
    left: 120px;
}

.table-6 {
    top: 240px;
    left: 120px;
}

.table-7 {
    top: 0px;
    left: 240px;
}

.table-8 {
    top: 120px;
    left: 240px;
}

.table-9 {
    top: 240px;
    left: 240px;
}