.bfont{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    color: black;
};

.clear{
    color: #eee; 

}
/* html {
    background-color:rgb(151, 127, 127);
}
nav {
    background-color: rgb(151, 127, 127);
    color: white
}
.body{
    background-color: rgb(151, 127, 127);
}

.row{
    right: 50px;
}

.container{
    color: white;
    padding: 100px;
    font: bold

}

.whole-store {
    position: relative; 
    top: 0px;
    left: 0px;  
    shape-margin: 100px;
}

.front {
    position: absolute;
    width: 20px;
    height: 250px;
    border-radius: 5%;
}

.host {
    position: absolute;
    width: 50px;
    height: 150px;
    background: black;
    border-radius: 5%;
}

.tables {
    position: relative; 
    top: 70px;
    left: 270px;
} */

/* 
.square {
    position: absolute;
    width: 40px;
    height: 75px;
    background: rgb(250, 248, 114);
    border-radius: 10%;
} */

.lbtn{
    border: 3px solid grey;
    height: 200px;
    width: 200px

}

.step_one, .new_customer, .returning_customer {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 700px;
    background: rgb(226, 220, 220);
}
.qfont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
};

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.error_form {
    font-size: 12px;
    color: red;

    
    
/*  */


/* .table-1, .table-2, 
.table-3, .table-4, .table-5, .table-6, .table-7, 
.table-8, .table-9 {
    color: white;
    text-align: center;
    font-display: times;
    border:1px;
    box-sizing: border-box
} */

/* .host-table, .front-door{
    background: black;
}

.front-door {
    top: 100px;
    left:0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.host-table {
    top: 150px;
    left: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}  
.table-1 {
    top: 0px;
    left: 0px;
}
.table-2 {
    top: 120px;
    left: 0px;  
}
.table-3 {
    top: 240px;
    left: 0px;
}
.table-4 {
    top: 0px;
    left: 120px;
}
.table-5 {
    top: 120px;
    left: 120px;
}
.table-6 {
    top: 240px;
    left: 120px; */
/* }
.table-7 {
    top: 0px;
    left: 240px;
    float: right;
    
}
.table-8 {
    top: 120px;
    left: 240px;
}
.table-9 {
    top: 240px;
    left: 240px;
}

.error_form {
    font-size: 12px;
    color: red;
}


